*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9ecef;
}

/* =====navbar styling==== */
.mynavbar{
    box-shadow:  0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;;
    background-color:#10266b ;
}

.heading1{
    color: white;
}


/* ==========Border Styling======= */
.main{
    margin-top: 9em;
}


.border1{
    background-color: #f4f4f4;
    padding-right:30px ;
}

.text{
    font-size: 30px;
    font-weight: 500;

}

.btn1{
    background-color: #0d6db7;
    color: white;
    font-size: 20px;
    border-radius: 0;
}


/* =========Media Querry for responsive========= */

@media only screen and (max-width : 375px){
    .text{
        font-size: 20px;
    }
    
    .btn1{
        font-size: 15px;
    }
}

@media only screen and (max-width : 282px){
    .text{
        font-size: 15px;
    }
    
    .btn1{
        font-size: 12px;
    }
}


